# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio/IDEA
.idea/
*.iml
*.ipr
*.iws

# Local config
local.properties

# NDK/Native
.cxx/

# Misc
captures/
output.json
.DS_Store
